{% extends 'dzllogparser/logined_page.html' %}
{% load static %}

{% block content %}
<main>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col col-md-6 border rounded m-2">
        <h5 class="text-center">Car data</h5>
        Car name: <b>{{ object.name }} ({{ object.car_type }})</b><br>
        Car ID: <b>{{ object.car_id }}</b><br>
        Last position: <b>{{ object.position }}</b><br>
        Status: <b>{{ object.get_car_status_display }}</b><br>
        {% if object.last_init_time %}
        Init time: <b>{{ object.last_init_time|date:"d.m.Y H:i:s" }}</b><br>
        {% endif %}
        {% if object.deletion_time %}
        Deleted: <b>{{ object.deletion_time|date:"d.m.Y H:i:s" }}</b><br>
        {% endif %}
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col col-md-8 border rounded m-1 p-1">
        <ul class="list-group">
          {% for action in last_actions %}
          <li class="list-group-item">
            {{action.action_time|date:"d.m.Y H:i:s"}}
            {% if action.player %}
            <a href="{{action.player.get_absolute_url}}" class="link-secondary"><b>{{action.player.dayzname}} ({{action.player.steam_id}})</b></a>
            {% endif %}
            {{action.action}}
          </li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
</main>
{% endblock %}