{% extends 'dzllogparser/base.html' %}
{% load static %}

{% block body %}

<body class="bg-dark text-white font-italic">
  <header>
    <div class="container">
      <nav class="navbar navbar-expand navbar-dark bg-dark border-bottom p-0">
        <div class="container-fluid">
          <a class="navbar-brand" href="{% url 'index' %}">
            <img src="{% static 'dzllogparser/img/logo.png' %}" height="30" class="d-inline-block align-top" alt=""
              loading="lazy">
          </a>
          <a href="{% url 'logout' %}" class="btn btn-sm btn-outline-secondary">Выйти</a>
        </div>
      </nav>
    </div>
  </header>

  {% block content %}
  {% endblock %}

  <footer>
    <div class="container position-relative bottom-0">
      <div class="row mt-3">
        <div class="col-md-12 border-top">
          <p class="text-secondary text-center verysmall">© DayZilla
            <script>document.write(new Date().getFullYear())</script>
          </p>
        </div>
      </div>
    </div>
  </footer>
</body>
{% endblock %}